name: Run Pytest

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12"]

    steps:
    - name: Check out code
      uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '22' # Specify a Node.js version

    - name: Install pnpm
      run: npm install -g pnpm

    - name: Install uv
      run: pip install uv

    - name: Install dependencies
      run: pnpm install

    - name: Setup tests
      run: pnpm run setup-test

    - name: Run tests
      run: pnpm run test
